*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #ceebb5;
  --color-surface: #f1efea;
  --color-border: rgba(0, 0, 0, 0.15);
  --color-text: #1a1a19;
  --color-text-muted: #73726c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #ceebb5;
    --color-surface: #d7f3be;
    --color-border: #2a2a2a;
    --color-text: #383938;
    --color-text-muted: #565550;
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "DM Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font-family: "DM Sans", sans-serif;
}

button {
  
}